html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body, main, .container {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
}
#map {
  flex-grow: 1;
  background-color: #aad3df;
  z-index: 1;
}
#sidebar {
  box-shadow: -5px 0 7px #00000084;
  width: 300px;
  background-color: #eaeaea;
  z-index: 2;
  overflow: auto;
}
#sidebar-title {
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  font-size: 18px;
  height: 25px;
}
.entri:first-child {
  position: sticky;
  top: 25px;
  border-bottom: 3px dashed black;
}
.entri {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  background-color: white;
  border-bottom: 1px dashed black;
  cursor: pointer;
}
.entri:hover {
  text-decoration: underline;
}
.entri.signifikan {
  background-color: #f4ff55;
}
.entri.bahaya {
  background-color: #9d0000;
  color: white;
}
.entri > .mag {
  font-weight: 700;
  width: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.entri > .info {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}
.entri > .info > * {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}
.popup-titik {
  text-align: center;
}
.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: #def7ff;
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.spinner-parent {
  display: flex;
  height: 32px;
  width: 32px;
}
.spinner {
  animation-name: spinning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinning {
  0% {rotate: 0deg}
  100% {rotate: 360deg}
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  #daftar {
    box-shadow: none;
    height: 50%;
    width: 100%;
  }
}