html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body, main, .container {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
}
#map {
  flex-grow: 1;
  background-color: #aad3df;
  z-index: 1;
}

/* Sidebar daftar gempa */
#sidebar {
  box-shadow: -3px 0 5px #00000084;
  width: 300px;
  background-color: white;
  z-index: 2;
  overflow: auto;
}
/* Header judul */
#sidebar-title {
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  font-size: 18px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#sidebar-title div {
  display: flex;
  height: 100%;
  line-height: 1.5;
}
#sidebar-title .toggle {
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}
#sidebar-title .toggle-inner {
  background-color: #dedede;
  transition: 0.3s;
  border-radius: 20px;
  padding: 2px;
  box-sizing: border-box;
}
#sidebar-title img {
  aspect-ratio: 1/1;
  height: 100%;
}
#sidebar-title:hover{
  background-color: #dedede;
}
#sidebar-title:hover .toggle-inner {
  background-color: #ffffff;
}
/* Tampilan sidebar saat diperkecil */
#sidebar.hide {
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 0 15px #00000084;
  border-radius: 4px;
}
#sidebar.hide .entri:first-child {
  display: flex;
  border-bottom: 0;
  padding: 5px 0;
}
#sidebar.hide .entri {
  display: none;
}
/* Tampilan tiap entri gempa dalam daftar */
.entri:first-child {
  position: sticky;
  top: 35px;
  border-bottom: 3px dashed black;
  padding: 3px 0;
}
.entri {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  background-color: white;
  border-bottom: 1px dashed black;
  cursor: pointer;
  padding: 2px 0;
}
.entri:hover {
  text-decoration: underline;
}
.entri.signifikan {
  background-color: #f4ff55;
}
.entri.bahaya {
  background-color: #9d0000;
  color: white;
  border-color: white;
}
.entri > .mag {
  font-weight: 700;
  width: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.entri > .info {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}
.entri > .info > * {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}

/* Tampilan sidebar pada tampilan portrait gawai */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  #sidebar {
    box-shadow: none;
    height: 50%;
    width: 100%;
  }
  /* Saat diperkecil */
  #sidebar.hide {
    position: static;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    height: auto;
  }
}

/* Info Popup */
.popup-titik {
  text-align: center;
}

/* Loading spinner */
.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: #def7ff;
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.spinner-parent {
  display: flex;
  height: 32px;
  width: 32px;
}
.spinner {
  animation-name: spinning;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}
@keyframes spinning {
  0% {rotate: 0deg}
  12.5% {rotate: 45deg}
  25% {rotate: 90deg}
  37.5% {rotate: 135deg}
  50% {rotate: 180deg}
  62.5% {rotate: 225deg}
  75% {rotate: 270deg}
  87.5% {rotate: 315deg}
}
/* Tombol credits */
.credits {
  border-radius: 4px;
  overflow: clip;
  box-shadow: 0 0 5px;
  .btn-credits {
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: white;
    transition-duration: 0.2s;
  }
}
.btn-credits:hover {
  background-color: rgb(63, 63, 63);
  color: white;
}


/* Modal */
div.modal-container {
  position: absolute;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000005f;
  z-index: 999;
}
div.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 400px;
  height: auto;
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0 0 20px #0000005f;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 80vh;
}
#modal-credits {
  text-align: left;
  justify-content: left;
  align-items: normal;
}
#modal-credits h3 {
  text-align: center;
  margin: 5px 0;
}
#modal-credits button {
  cursor: pointer;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid black;
}
#modal-credits button:hover {
  background-color: black;
  color: white;
}
#modal-credits ul {
  text-align: left;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 500px) {
  div.modal {
    width: 100%;
    border-radius: 0;
  }
}
/* Jendela pesan/info dalam leaflet */
.inner-message {
  padding: 6px 8px;
  font-size: 12px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 18px;
  color: #000000;
  overflow: hidden;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  border-radius: 4px;
  white-space: break-spaces;
}

