:root {
  /* Warna umum */
  --default-background: white;
  --default-color: black;
  --default-invert-value: 0;
  --default-link-color: #0000ee;

  /* Map */
  --map-background: #aad3df;
  --lingkaran-fill: #ff0033;
  --lingkaran-stroke: red;
  --lingkaran-fill-clicked: white;
  --lingkaran-stroke-clicked: black;
  --faults-stroke: #6554AF;

  /* Sidebar */
  --sidebar-shadow-color: #00000084;
  --sidebar-toggle-inner-background: #dedede;
  --sidebar-toggle-inner-background-hover: #ffffff;
  --sidebar-title-background-hover: #dedede;

  /* Entri gempa */
  --entri-default-color: black;
  --entri-signifikan-background: #f4ff55;
  --entri-signifikan-color: black;
  --entri-bahaya-background: #9d0000;
  --entri-bahaya-color: white;

  /* Loading div & spinner */
  --loading-background: #def7ff;

  /* Tombol credits */
  --btn-credits-background-hover: #3f3f3f;
  --btn-credits-color-hover: white;

  /* Modal */
  --modal-container-background: #0000005f;
  --modal-shadow-color: #0000005f;
  --modal-button-background: white;
  --modal-button-color: black;
  --modal-button-border-color: black;
  --modal-button-background-hover: black;
  --modal-button-color-hover: white;

  /* Inner message */
  --inner-message-shadow-color: #00000033;
  --inner-message-border-color: #00000033;

  /* Komponen leaflet */
  --leaflet-zoom-border-color: #00000033;
  --leaflet-zoom-background: white;
  --leaflet-zoom-color: black;
  --leaflet-zoom-background-hover: #f4f4f4;
  --leaflet-zoom-color-hover: black;
  --leaflet-zoom-background-disabled: #f4f4f4;
  --leaflet-zoom-color-disabled: #bbbbbb;
  --leaflet-popup-background: #ffffff;
  --leaflet-popup-close-button: #757575;
  --leaflet-popup-close-button-hover: #585858;
  --leaflet-attribution-background: #ffffffcc;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Warna umum */
    --default-background: #242424;
    --default-color: white;
    --default-invert-value: 1;
    --default-link-color: #93fff8;
  
    /* Map */
    --map-background: #3b3b43;
    --lingkaran-fill: #ffea4a;
    --lingkaran-stroke: yellow;
    --faults-stroke: #96caff;
  
    /* Sidebar */
    --sidebar-shadow-color: #00000084;
    --sidebar-toggle-inner-background: #535353;
    --sidebar-toggle-inner-background-hover: #676767;
    --sidebar-title-background-hover: #343434;
  
    /* Entri gempa */
    --entri-default-color: #ffffff;
    --entri-signifikan-background: #613700;
    --entri-signifikan-color: white;
    --entri-bahaya-background: #ff9292;
    --entri-bahaya-color: black;
  
    /* Loading div & spinner */
    --loading-background: #484a57;
  
    /* Tombol credits */
    --btn-credits-background-hover: #4f4f4f;
    --btn-credits-color-hover: #ffffff;
  
    /* Modal */
    --modal-container-background: #0000007b;
    --modal-shadow-color: #0000007d;
    --modal-button-background: #242424;
    --modal-button-color: white;
    --modal-button-border-color: white;
    --modal-button-background-hover: white;
    --modal-button-color-hover: #242424;
  
    /* Inner message */
    --inner-message-shadow-color: #00000033;
    --inner-message-border-color: #00000033;

    /* Komponen leaflet */
    --leaflet-zoom-border-color: #ffffff33;
    --leaflet-zoom-background: #242424;
    --leaflet-zoom-color: white;
    --leaflet-zoom-background-hover: #464646;
    --leaflet-zoom-color-hover: white;
    --leaflet-zoom-background-disabled: #464646;
    --leaflet-zoom-color-disabled: #b5b5b5;
    --leaflet-popup-background: #303030;
    --leaflet-popup-close-button: #e0e0e0;
    --leaflet-popup-close-button-hover: #ffffff;
    --leaflet-attribution-background: #393939cc;
  }

  /* Tilelayer */
  .leaflet-tile-container > * {
    filter: invert(1) hue-rotate(230deg) grayscale(0.8) brightness(1.5);
  }
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body, main, .container {
  width: 100%;
  height: 100%;
  background-color: var(--default-background);
}
body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
}
#map {
  flex-grow: 1;
  background-color: var(--map-background);
  z-index: 1;
}
/* Komponen map */
.lingkaran-episenter {
  fill: var(--lingkaran-fill);
  stroke: var(--lingkaran-stroke);
  fill-opacity: 0.5;
  opacity: 1;
  stroke-width: 1;
}
.lingkaran-episenter.clicked {
  fill: var(--lingkaran-fill-clicked);
  stroke: var(--lingkaran-stroke-clicked);
  fill-opacity: 0.8;
  stroke-width: 2;
}
.faults-area {
  stroke: var(--faults-stroke);
  fill-opacity: 1;
  stroke-width: 1.2;
}

/* Sidebar daftar gempa */
#sidebar {
  box-shadow: -3px 0 5px var(--sidebar-shadow-color);
  width: 300px;
  background-color: var(--default-background);
  z-index: 2;
  overflow: auto;
}
/* Header judul */
#sidebar-title {
  background-color: var(--default-background);
  color: var(--default-color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  font-size: 18px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#sidebar-title div {
  display: flex;
  height: 100%;
  line-height: 1.5;
}
#sidebar-title .toggle {
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}
#sidebar-title .toggle-inner {
  background-color: var(--sidebar-toggle-inner-background);
  transition: 0.3s;
  border-radius: 20px;
  padding: 2px;
  box-sizing: border-box;
}
#sidebar-title img {
  aspect-ratio: 1/1;
  height: 100%;
  filter: invert(var(--default-invert-value));
}
#sidebar-title:hover{
  background-color: var(--sidebar-title-background-hover);
}
#sidebar-title:hover .toggle-inner {
  background-color: var(--sidebar-toggle-inner-background-hover);
}
/* Tampilan sidebar saat diperkecil */
#sidebar.hide {
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 0 15px var(--sidebar-shadow-color);
  border-radius: 4px;
}
#sidebar.hide .entri:first-child {
  display: flex;
  border-bottom: 0;
  padding: 5px 0;
}
#sidebar.hide .entri {
  display: none;
}
/* Tampilan tiap entri gempa dalam daftar */
.entri:first-child {
  position: sticky;
  top: 35px;
  border-bottom: 3px dashed var(--entri-default-color);
  padding: 3px 0;
}
.entri {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  background-color: var(--default-background);
  border-bottom: 1px dashed var(--entri-default-color);
  color: var(--default-color);
  cursor: pointer;
  padding: 2px 0;
}
.entri:hover {
  text-decoration: underline;
}
.entri.signifikan {
  background-color: var(--entri-signifikan-background);
  color: var(--entri-signifikan-color);
  border-color: var(--entri-signifikan-color);
}
.entri.bahaya {
  background-color: var(--entri-bahaya-background);
  color: var(--entri-bahaya-color);
  border-color: var(--entri-bahaya-color);
}
.entri > .mag {
  font-weight: 700;
  width: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.entri > .info {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}
.entri > .info > * {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
}

/* Tampilan sidebar pada tampilan portrait gawai */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  #sidebar {
    box-shadow: none;
    height: 50%;
    width: 100%;
  }
  /* Saat diperkecil */
  #sidebar.hide {
    position: static;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    height: auto;
  }
}

/* Info Popup */
.popup-titik {
  text-align: center;
}

/* Loading spinner */
.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: var(--loading-background);
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.spinner-parent {
  display: flex;
  height: 32px;
  width: 32px;
}
.spinner {
  animation-name: spinning;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  filter: invert(var(--default-invert-value));
}
@keyframes spinning {
  0% {rotate: 0deg}
  12.5% {rotate: 45deg}
  25% {rotate: 90deg}
  37.5% {rotate: 135deg}
  50% {rotate: 180deg}
  62.5% {rotate: 225deg}
  75% {rotate: 270deg}
  87.5% {rotate: 315deg}
}
/* Tombol credits */
.credits {
  border-radius: 4px;
  overflow: clip;
  box-shadow: 0 0 5px;
  .btn-credits {
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: var(--default-background);
    color: var(--default-color);
    transition-duration: 0.2s;
  }
}
.btn-credits:hover {
  background-color: var(--btn-credits-background-hover);
  color: var(--btn-credits-color-hover);
}


/* Modal */
div.modal-container {
  position: absolute;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-container-background);
  z-index: 999;
}
div.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  background-color: var(--default-background);
  color: var(--default-color);
  padding: 20px;
  box-shadow: 0 0 20px var(--modal-shadow-color);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 80vh;
  max-width: 80vw;
}
.modal h3 {
  text-align: center;
  margin: 5px 0;
}
.modal a {
  color: var(--default-link-color);
}
.modal button {
  cursor: pointer;
  background-color: var(--modal-button-background);
  padding: 7px;
  border-radius: 5px;
  border: 1px solid var(--modal-button-border-color);
  color: var(--modal-button-color);
}
.modal button:hover {
  background-color: var(--modal-button-background-hover);
  color: var(--modal-button-color-hover);
}
.modal .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.modal .buttons > * {
  flex-grow: 1;
}
#modal-credits {
  text-align: left;
  justify-content: left;
  align-items: normal;
}
#modal-credits ul {
  text-align: left;
  padding: 0 0 0 20px;
}
#modal-autoplay {
  gap: 10px;
  justify-content: left;
  align-items: normal;
}
#modal-autoplay ul {
  list-style: none;
  padding: 0;
  font-size: larger;
}
#modal-setelan ul {
  list-style: none;
  padding: 0;
  font-size: larger;
}
#modal-setelan .buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 5px;
}
#modal-setelan .buttons > * {
  flex-grow: 1;
}
.modal label {
  cursor: pointer;
}
#modal-setelan .section-container {
  margin: 19px 0;
}


@media screen and (max-width: 500px) {
  div.modal {
    width: 100%;
    border-radius: 0;
  }
}

/* Jendela pesan/info dalam leaflet */
.inner-message {
  padding: 6px 8px;
  font-size: 12px;
  background: var(--default-background);
  box-shadow: 0 0 15px var(--inner-message-shadow-color);
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 18px;
  color: var(--default-color);
  overflow: hidden;
  border: 2px solid var(--inner-message-border-color);
  background-clip: padding-box;
  border-radius: 4px;
  white-space: break-spaces;
}

/* Komponen leaflet */
/* Zoom control */
.leaflet-bar .leaflet-control-zoom-in,
.leaflet-bar .leaflet-control-zoom-out {
  background-color: var(--leaflet-zoom-background);
  color: var(--leaflet-zoom-color);
}
.leaflet-bar .leaflet-control-zoom-in:hover,
.leaflet-bar .leaflet-control-zoom-out:hover {
  background-color: var(--leaflet-zoom-background-hover);
  color: var(--leaflet-zoom-color-hover);
}
.leaflet-bar .leaflet-control-zoom-in.leaflet-disabled,
.leaflet-bar .leaflet-control-zoom-out.leaflet-disabled {
  background-color: var(--leaflet-zoom-background-disabled);
  color: var(--leaflet-zoom-color-disabled);
}
.leaflet-bar .leaflet-control-zoom {
  border-color: var(--leaflet-zoom-border-color);
}

/* Popup */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--leaflet-popup-background);
  color: var(--default-color);
}
.leaflet-container a.leaflet-popup-close-button {
  color: var(--leaflet-popup-close-button);
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: var(--leaflet-popup-close-button-hover);
}

/* Attribution */
.leaflet-container .leaflet-control-attribution {
  background-color: var(--leaflet-attribution-background);
  color: var(--default-color);
}
.leaflet-container .leaflet-control-attribution a {
  color: var(--default-link-color);
}